/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  padding: 0;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 23.4px;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
