/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-color) var(--background-image) top center no-repeat fixed;
  background-size: cover;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.rec-point {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.rec-point::before {
  content: 'REC';
  color: var(--decor-color);
  text-transform: uppercase;
}

.rec-point::after {
  content: '';
  position: absolute;
  block-size: 10px;
  inline-size: 10px;
  margin: 8px 9px 8px 10px;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  border-radius: 50%;
}

/* header */

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  grid-column: span 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--menu-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__title {
  grid-column: span 3;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__paragraph {
  grid-column: span 2;
  color: var(--header-paragraph-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

/* main */

.content {
  display: grid;
  row-gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  row-gap: 20px;
}

.section.section-gallery {
  gap: 10px;
}

.section__title {
  color: var(--heading-color);
}

.section.section-gallery .section__title {
  background-color: var(--accent-color);
  color: var(--list-item-title-color);
}

.section__list,
.section__sublist {
  display: grid;
  gap: 20px;
}

.section__list-item,
.section__sublist-item {
  display: grid;
  row-gap: 10px;
}

section.section-how .section__list-item {
  row-gap: 20px;
}

.list-item-title,
.sublist-item-title {
  color: var(--list-item-title-color);
  background-color: var(--accent-color);
}

.sublist-item-title {
  font-weight: normal;
}

.list-item-text,
.sublist-item-text {
  color: var(--text-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}
  
/* footer */

.footer {
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

/* adaptive */

@media (min-width: 768px) {
  
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .rec-point {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .header, .footer {
    padding: 20px;
  }

  .content {
    padding: 60px 20px;
    row-gap: 80px;
  }
  
  .header__title, .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__paragraph {
    grid-column: -1/2;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  .section.section-what {
    grid-template-rows: repeat(2, auto);
  }

  .section.section-what .section__list {
    grid-column: span 3;
  }

  .section.section-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .section.section-gallery .section__title {
    grid-column: 1/-1;
  }

  .section__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .section__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .section.section-why,
  .section.section-how {
    column-gap: 12px;
  }

  section.section-what .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  section.section-what .section__list-item {
    grid-template-rows: auto 1fr;
  }
}

/* status */

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.text-link:hover {
  border-bottom: 1px solid currentColor
}

.text-link:focus {
  outline: 0;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}