/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 0 10px;
  background: var(--background-color) var(--background-image) top center no-repeat fixed;
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px;
  }
}

/* header */

.header {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  min-block-size: 100vh;
}

.header::before {
  content: '';
  width: 25.038px;
  height: 24.999px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  grid-column: span 3;
  justify-self: end;
  position: absolute;
  top: 10px;
}

.header::after {
  content: '';
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  grid-column: span 3;
  justify-self: start;
  position: absolute;
  bottom: 10px;
}

.rec-point {
  position: absolute;
  right: 28px;
  top: 10px;
}

.rec-point::before {
  content: 'REC';
  color: var(--decor-color);
  line-height: 26px;
}

.rec-point::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 8px 9px 8px 10px;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  border-radius: 50%;
}

.header__theme-menu {
  grid-column: span 3;
  justify-self: end;
  margin-block-start: 73px;
  margin-block-end: 68px;
}


.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--menu-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__title {
  grid-column: span 3;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: 116px;
  line-height: 95.7px;
  margin-block-end: 55px;
}

.header__paragraph {
  grid-column: span 2;
  color: var(--header-paragraph-color);
  background-color: var(--accent-color);
  font-weight: bold;
  margin-block-end: 67px;
}

@media (min-width: 768px) {
  .header::before {
    top: 20px;
  }

  .header::after {
    bottom: 20px;
  }

  .rec-point {
    top: 20px;
  }
  
  .header__theme-menu {
    margin-block-start: 190px;
    margin-block-end: 64px;
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-end: 43px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__paragraph {
    grid-column: -1/2;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    grid-row: -2/1;
    justify-self: center;
    margin-block-start: 18px;
    margin-block-end: 276px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-block-end: 114px;
  }

  .header__paragraph {
    margin-block-end: 120px;
  }
}

/* main */

.content {
  display: grid;
  row-gap: 50px;
  padding-block-start: 39px;
  padding-block-end: 41px;
}

.section {
  display: grid;
  row-gap: 20px;
}

.section.gallery__section {
  gap: 10px;
}

.section__title {
  color: var(--heading-color);
  line-height: 23.4px;
}

.section__list,
.section__sublist {
  display: grid;
  gap: 20px;
}

.section__list-item,
.section__sublist-item {
  display: grid;
  row-gap: 10px;
}

section.third__section .section__list-item {
  row-gap: 20px;
}

.list-item-title,
.sublist-item-title {
  color: var(--list-item-title-color);
  background-color: var(--accent-color);
}

.sublist-item-title {
  font-weight: normal;
}

.list-item-text,
.sublist-item-text {
  color: var(--text-color);
  line-height: 23.4px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (min-width: 768px) {
  
  .content {
    padding-block-start: 60px;
    padding-block-end: 60px;
    row-gap: 80px;
  }
  
  .section {
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  section.second__section {
    grid-template-rows: repeat(2, auto);
  }

  section.second__section .section__list {
    grid-column: span 3;
  }

  .section.gallery__section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .section.gallery__section .section__title {
    grid-column: 1/-1;
  }

  .section__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .section__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section__image:nth-of-type(5) {
    grid-column: span 2;
  }
}
  
@media (min-width: 1024px) {
  
  .section.first__section,
  .section.third__section {
    column-gap: 12px;
  }

  section.second__section .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  section.second__section .section__list-item {
    grid-template-rows: auto 1fr;
  }

  .section.gallery__section {
    gap: 20px;
  }
}

/* footer */

.footer {
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  min-block-size: 100vh;
}

.footer::before {
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  justify-self: end;
  position: absolute;
  top: 10px;
}

.footer::after {
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  justify-self: start;
  position: absolute;
  bottom: 10px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: 116px;
  font-weight: bold;
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    top: 20px;
  }

  .footer::after {
    bottom: 20px;
  }
}

@media (min-width: 1024px) {
 .footer__title {
    padding-block: 299px;
 }
}

/* status */

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.text-link:hover {
  border-bottom: 2px solid currentColor
}

.text-link:focus {
  outline: 0;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}