/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --menu-color: #FF0070;
  --heading-color: #FF0070;
  --background-color: #000028;
  --list-item-title-color: #000028;
  --header-paragraph-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --font-family: 'IBM Plex Mono';
  --background-image: url(../images/cover-image-dark.png);
}